
    .white{
             color: cadetblue;
             height: 50px;
             width: 50px;
            background-color: black;
            text-align: center;
            font-size: 30px;
    }
    
    
    
    .black{
        color: lightblue;
        height: 50px;
        width: 50px;
        
    }

      
   body{

    align-self: auto;


    

   }
   table{
    border: 10px solid black;
    border-collapse: collapse;
    box-shadow: 10px 10px 30px  black;
    margin:200px auto;
   }







   