.chessboard {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .row {
    width: 100%;
    display: flex;
  }
  
  .white {
    width: 50px;
    height: 50px;
    background-color: white;
  }
  
  .black {
    width: 50px;
    height: 50px;
    background-color: black;
  }