

#p1{

background-color: aqua;


}

#p2{

    background-color: blue;
    


    
    }
    
  
    a:link{
        color: skyblue;
         
}
a:hover{
            color: red;
            font-size: 30px; 

}
