*{
    background-color: antiquewhite;
}
#dummytext{
    width: 200px;
    height: 180px;
    text-align: justify;
    text-shadow: 2px 2px 2px yellow;
    border: 2px solid red;
    overflow:hidden;
    /* overflow: hidden; */
    margin: 20px 70px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -10px -10px 15px yellow;
    
}
#divpara{
    border: 2px solid black;
    background-color: aqua;
}
li{
    display:inline-block;
    margin: 10px;
}
#support{
    display: none;
    /* visibility: hidden; */
}
a{
    text-decoration: none;
}
a:link{
    color: brown;
}
a:visited{
    color: green;
}
a:hover{
    color: red;
    font-size: 30px;
}
a:focus{
    color: rgb(1, 1, 1);
}
a:active{
    color: yellow;
}
h1{
   border-width: 1px 2px 3px 4px;
   border-style:solid;
border-color: rgb(0, 0, 0)

}