form
{
    font-size: large;
    margin: auto;
    border-radius: 30px;
    padding: 100px ;
    padding-bottom: 180px;
    height: 300px;
    width: 700px;
    box-shadow: 2px 2px 80px black;
     background-image: url('https://i.pinimg.com/originals/60/58/0e/60580ebe35939188b48a2927fc80e27e.gif');
  background-size: 100%;
    /*opacity: 0.9;*/
    
}

body {
    border: 30px;
    border-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    padding: 70px;
    background-image: url('https://cdn.wallpapersafari.com/92/4/QalnwN.jpg')
}
   

input{
     border-color: black;
     box-shadow: 2px 2px 5px black;
font-size: x-large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 10px;
width: 700px;
height: 50px;

}

input:hover{
    background-color: aliceblue;
}

select:hover{
    background-color: rgb(38, 180, 180);
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: large;
    border-color: rgb(56, 184, 145);
    box-shadow: 2px 2px 5px black;
}

button:hover {
    background-color: #45a049;
}

select{
    font-size: large;
    width: 25%;
    padding: 10px;
    border-color: rgb(103, 168, 184);
    box-shadow: 2px 2px 5px black;
    background-color: cadetblue;
    color: #fff;
    border: none;
    border-radius: 5px;


}
h1{
    text-align: center;
}
