.red{

    background-color: rgb(253, 12, 12);
    width: 1400px;
    height: 50px;
    
    }
    
    .white{
    
        background-color: white;
        width: 1400px;
        height: 50px;
        
        }

    .bluebox{
       
        position: relative;
        background-color: blue;
        width: 600px;
        height: 350px;


    }
   

    .stars{

       color: white;
       margin-left: 30px;
       margin-top: 5px;
       padding: 5px;
       padding-left: 20px;
       font-size: 60px;
       align-items: 30px;

    }

    .bluebox:hover{
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/69/Color_Flash.gif');
    }
body{
    background-image: url('https://media.tenor.com/EUfisP4JVjYAAAAM/red-and-blue-spinning.gif');
    background-size: 50%;
    position: absolute;
    top: 35%;
    left: 35%;

}