body{
    background-color: bisque;
}

.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    /* grid-template-rows: repeat(3,1fr); */
    /* grid-template-columns: 150px 200px auto; */
    /* column-gap: 15px;
    row-gap: 15px; */
    gap: 15px;
}
.para{
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* grid-template-rows: repeat(3,1fr); */
    /* grid-auto-flow: column; */
    
   
   
}
.box{
    background-color: chartreuse;
    color: black;
    height: 100px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box1 {
    grid-column: span 3;
}
.box5{
    grid-column: span 3;
} 
.layout div{
    border: 2px solid black;
    background-color: pink;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    justify-content: center;
    align-items: center;
}
.layout{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas:"h h h h h" 
                        "sb1 m m m sb2"
                        " f f f f f";
}
.header{
    grid-area: h;
}
.sidebar1{
    grid-area: sb1;
}
.sidebar2{
    grid-area: sb2;
}
.footer{
    grid-area: f;
}
.main{
    grid-area: m;
}