.square{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    transition-duration: 2s;
     /* transition-property: 5s;  */
    margin: 100px auto;
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-in-out; */
    /* transition-delay: 3s; */
    
}

.square:hover{
        background-color: red;
        /* transition-duration: 10s; */
         /* width: 400px; 
        height: 400px; */
        /* transform: rotate(360deg); */
        transform: scaley(2); 
} 

/* animation in css */

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    animation-name: circle;
    animation-duration: 3s;
    animation-fill-mode: backwards;  
    position: relative;
    margin: 120px auto;


}

@keyframes circle{
     0%{
        width:0px;
        height: 0px;
        border-radius: 50%;
        background-color: cadetblue;
        top: 70px;
        bottom: 80px;
     }

     50%{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: rgba(4, 5, 4,.5);
        top: 300px;
        bottom: 500px;
     }


     100%{
        width:150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgb(35, 255, 46);
        top: 1000px;
        bottom: 0px;
     }

  
   }


     





