.p1{

    background-color: aqua;
}


.p3{

    background-color: blueviolet;
    font-size: 2rem;
}

@media(min-width:801px){
.col p{
width: 30%;
float: left;
padding: 10px;
}
.p1{
    background-color: brown;
}
}
.p2{
    
    font-size: 1.5em;
}

.op{
    width: 50vw;
    height: 50vh;
    border: 1px solid red; 
}