/* .para1{
    background-color: aqua;
    flex:3;
    order:2; 
} 

.para2{
    background-color: blue;
     flex:1; 
    
} 

 .para3{
    background-color: brown;
    flex:3; 

} 
.container{
    display: flex;
    flex-direction: column;
    padding: 10px;

}
 */

.container1{
    display: flex;
    /* flex-direction: column; */
   /* height: 100vh; */
    background-color: coral;
    justify-content: center; 
 align-items: center;  
 justify-content:space-around ;
/* align-items: end; */
/* align-items: stretch; */
flex-wrap: wrap;
height: 500px;
}

.box{
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: chartreuse;
    border: 3px solid black;
    flex-shrink: 1;
    flex-grow: 2;
}