.redbox{

background-color: rgb(253, 149, 12);
width: 1400px;
height: 200px;

}

.greenbox{

    background-color: white;
    width: 1400px;
    height: 200px;
    
    }

.bluebox{

    background-color: green;
    width: 1400px;
    height: 200px;
    
}

.chakra{
    font-size: 10px;
    margin: auto;
    position: absolute;
    left:600px;
}

body{
    height: 300px;
    width: 300px;
    background: linear-gradient(to right,orange, white,green);
   
}
.type{
position: absolute;
top:35%;
left:35%;
}