body{


    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(218, 56, 83),rgb(137, 57, 156));
}


.wh{
    box-shadow: 10px 10px 25px  black;
    border-radius: 20px;
    position: relative;
    left: 350px;
    height: 850px;
    width: 700px;
    background-color: white;
}

form{
    box-shadow: 10px 10px 25px  black;
    position: relative;
    
    top: 8%;

    left:8%;
    border-radius: 15px;
    height: 700px;
    width: 600px;
    background-color: black;
}

h1{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
    padding-left: 40px;
    
    font-size: xx-large;
    color: bisque;
}

button{
    
    color: aliceblue;
    position: relative;
    
    top: 70%;
    left: 0%;
    height: 80px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
    font-size: x-large;
    background-color: rgb(74, 226, 60);
    border-color: black;
}

img{ 
    height: 50%;
    width: 60%;
    position: relative;
    top: 2%;
    left: 15%;
    size-adjust: 30%;
    border-radius: 50%;
}