body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(gray,orange);
}




form{
    position: absolute;
    top: 15%;
    left:20%;
    border-radius: 15px;
    height: 400px;
    width: 600px;
    background-color: black;
}

h1{
    padding-top: 40px;
    padding-left: 30px;
    font-size: xx-large;
    color: bisque;
}

h2{
    padding-top: 10px;
    padding-left: 30px;
    font-size: x-large;
    color: bisque;
}

button{
    
    color: aliceblue;
    position: relative;
    bottom: 2%;
    left: 7%;
    height: 60px;
    width: 170px;
    font-size: x-large;
    background-color: orange;
    border-radius: 30px;
    border-color: #f89f1a
}

img{
    height: 35%;
    width: 35%;
    position: relative;
    top: 25%;
    left: 27%;
    size-adjust: 30%;
    border-radius: 50%;
}